
#event-info {
    background-color:blue;
    margin:30px;
    padding:100px;
}

#event-list {
 background-color:green;
 margin:20px;
 padding:20px;
}

#event-title{
    background-color:yellow
    margin 2px;
}

#event-card{
    background-color:yellow
}
    
    
#title-2 {
    color: blue;
    font-size: 24px;
}

#date-2 {
    color: green;
    font-size: 18px;
}