h1 {
    color: red;
}

#event-info {
    background-color:blue;
    margin:30px;
    padding:100px;
}

#event-list {
 background-color:green;
 margin:20px;
 padding:20px;
}

#event-title{
    background-color:yellow
    margin 2px;
}

#event-card{
    background-color:yellow
}
    
    